<section class="flex flex-col gap-3">
  <div
    class="bg-[url(/assets/resources/background.png)] bg-cover bg-fixed bg-center bg-no-repeat relative flex flex-col lg:flex-row justify-between w-full h-[calc(100vh-48px)] lg:h-auto text-center pb-6 lg:pb-0 animate-fade"
  >
    <img
      src="/assets/resources/14.png"
      class="absolute top-0 left-0 z-0 object-cover w-full h-full opacity-80 object-top lg:h-[560px] xl:h-[650px] lg:w-[650px] lg:max-w-2xl lg:static lg:flex-1 transition transition-opacity duration-500"
    />
    <div
      class="container relative z-10 flex lg:flex-col h-full justify-center items-end lg:h-auto lg:flex-1 lg:static lg:items-center"
    >
      <div
        class="pb-5 flex flex-col items-center justify-center border-olive-600 border-b animate-fadeDown"
      >
        <h2
          class="font-italiana text-2xl lg:text-3xl xl:text-4xl font-extrabold tracking-normal lg:tracking-wide text-transparent bg-clip-text bg-gradient-to-r from-olive-500 to-olive-400 lg:from-olive-800 lg:to-olive-600"
        >
          Dottoressa
        </h2>
        <h1
          class="flex gap-3 font-italiana text-6xl lg:text-7xl xl:text-8xl font-extrabold tracking-normal lg:tracking-wide text-transparent bg-clip-text bg-gradient-to-r from-olive-500 to-olive-400 lg:from-olive-800 lg:to-olive-600"
        >
          Alessia Vicini
        </h1>
        <h2
          class="font-montserrat font-light uppercase text-xl tracking-[0.4rem] text-olive-400 lg:text-olive-800 lg:text-2xl lg:tracking-[0.6rem]"
        >
          Psicologa clinica
        </h2>
      </div>
    </div>
  </div>
</section>
