<section
  class="bg-gradient-to-r from-olive-900 to-olive-800 py-16 text-lg font-light text-olive-400"
>
  <div class="container mx-auto flex flex-col items-center gap-3">
    <h2
      class="font-montserrat font-light uppercase text-xl tracking-[0.4rem] text-olive-400 lg:text-2xl lg:tracking-[0.6rem] border-b border-b-olive-600 pb-3 px-8 w-fit"
    >
      Contatti
    </h2>
    <div class="mt-5 flex flex-col md:flex-row w-full gap-3">
      <div
        class="flex flex-col flex-1 items-center justify-start md:border-r md:border-r-olive-500"
      >
        <label for="location" class="flex flex-col items-center gap-2">
          <i class="bi bi-geo-fill text-3xl"></i>
          Based in
        </label>
        Torino (TO), Italia
      </div>
      <div
        class="flex flex-col flex-1 items-center justify-center md:border-r md:border-r-olive-500"
      >
        <label for="mail" class="flex flex-col items-center gap-2">
          <i class="bi bi-envelope text-3xl"></i>
          Scrivi, ti aiuto</label
        >
        <a href="mailto:dottssavicini@gmail.com">dottssavicini&#64;gmail.com</a>
      </div>
      <div
        class="flex flex-col flex-1 items-center justify-center md:border-r md:border-r-olive-500"
      >
        <label for="phone" class="flex flex-col items-center gap-2">
          <i class="bi bi-whatsapp text-3xl"></i>
          Chiama, parliamone</label
        >
        <a href="tel:+393284665911"> +393284665911 </a>
      </div>
      <div class="flex flex-col flex-1 items-center justify-center">
        <label for="phone" class="flex flex-col items-center gap-2">
          <i class="bi bi-instagram text-3xl"></i>
          <a href="https://www.instagram.com/psicologa_a.vicini/" class="text-center">
            Seguimi sul mio profilo instagram
          </a>
        </label>
      </div>
    </div>
  </div>
</section>
